{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <!-- Link do plików CSS Bootstrapa -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Moje Portfolio</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">Strona główna</a></li>
                    <li class="nav-item"><a href="{% url 'me' %}" class="nav-link {% if request.path == '/me/' %}active{% endif %}">O mnie</a></li>
                    <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link {% if request.path == '/contact/' %}active{% endif %}">Kontakt</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-dark text-light py-3 mt-5">
        <div class="container">
            <p>&copy; 2024 A.P.</p>
        </div>
    </footer>
    <!-- Skrypty JavaScript Bootstrapa -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
