{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container">
    <h1>Kontakt</h1>
    <p>Skontaktuj się ze mną korzystając z poniższego formularza:</p>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <a href="{% url 'home' %}" class="btn btn-primary mt-3">Back to Home</a>
</div>
{% endblock %}